@font-face {
    font-family: 'TT Lakes';
    src: url('/font/TTLakes-Thin.woff');
         
}
@font-face {
    font-family: 'TT Lakes2';
    src: url('/font/TTLakes-Bold.woff');
}

@font-face {
    font-family: 'TT Lakes3';
    src: url('/font/TTLakes-ExtraBold.woff');
}
body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color:rgb(238, 238, 241);
}
.header__block1{
    display: flex;
    background-color: white;
}
.header__block1__item1{
    display: flex;
    padding: 2%;
    
}
.header__block1__item2{
    display: flex;
    padding: 2%;
    border-left: 2px solid #5555;
}
.header__block1__item3{
    display: flex;
    margin-left: auto;
    padding: 2%;
    border-right: 2px solid #5555;
}
.header__block1__item4{
    display: flex;
    padding: 2%;
}

.wrapper {
    padding: 0%;
    margin: 0px;
    width: 81%;
    height: 100%;
   
}

h1 {
    font-size: 25px;
    
}

.header__block2{
    font-family: 'TT Lakes3';
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
} 


.header__block2__button1 {
    display: flex;
    margin-left: auto;
    padding: 2%;
    cursor: pointer;
}
.header__block2__button1 img {
    padding: 2%;
}

.header__block2__button2 {
    display: flex;
    cursor: pointer;
    
}

.header__block2__button2 img {
    padding: 2%;
}
 

.main {
    display: flex;
    width: 1120px;
    justify-content: space-between;
     
}

.main .button{
    text-align: center;
}


.button {
   padding: 0.5%;
   background-color: none;
   border: none;
   border-radius: 7px;
      
}

.main__button1{
    background-color: white;
    border: 2px solid #3debeb;
    
}
.button:hover {
    border: 1px solid rgb(27, 13, 221);
    cursor: pointer;
}

.feedback{
    font-family: "TT Lakes2";
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.banner {
    position: relative;
    margin-top: 3.5%;
    width: 175%;

    
    background-image: url('/img/_MG_3223.png');
    background-repeat: no-repeat;
    background-size: contain;
}

h3 {
    font-family: 'TT Lakes';
    padding-left: 25px;
    font-size: 20px;
}

.post p {
    font-family: 'TT Lakes2';
    margin-right: 2%;
    font-size: 16px;
    

}


section img {
    margin-top: 8%;
}

.main__button6 {
    vertical-align: 50%;
}
@media screen and (min-width: 768px) { /* скрываем блок до заданной ширины*/
    .header__block1 {
        display: none;
    }
    .main__button6 {
        display: none;
    }
    }
@media screen and (max-width: 768px) { /* отображаем блок посли заданной ширины*/
   .header__block2__button1  img {
       display: none;
   }
   .header__block2__button2  img {
    display: none;
}

.post p{
    font-size: calc(8px + 8 * (100vw/1120));
}
h3 {
    display: none;
}
span {
    display: none;
}

.main div:nth-child(1){
    order: 1;
    
}
.main div:nth-child(1){
    order: 2;
}
.main div:nth-child(1){
    order: 3;
}
.main div:nth-child(5){
    order: 3;
}
.main__button2{
    background-color: white;
    border: 2px solid #3debeb;
}
}

@media screen and (max-width: 321px) {
     .header__block1__item3 {
        display: none;
    } 
    h1 {
        font-size: calc(20px + 3* (100vw/1120));
    }
    h3 {
        display: none;
    } 
    .feedback{
        flex-wrap: wrap;
        justify-content: none;
    } 
    .banner {
        position: relative;
        width: 320px;
        height: 230px;
    }
    .header__block1 {
        width: 320px;
        height: 88px;
    } 
    .wrapper {
        padding: 0%;
        margin: 0px;
        width: 100%;
        height: 100%;
       
    }
    .header__block1{
        height: 70%;
    }
    .header__block1__item1{
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }
    .header__block1__item2{
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }
    .header__block1__item4{
        flex-grow: 1;
        justify-content: center;
        align-items: center;

        padding-right: 5%;
    }
    }